p.
  Para dokter kami akan menyeleksi pasien-pasien yang menurut mereka memiliki prognosis / 
  kemungkinan sembuh/sehat yang tinggi sehingga dapat menjalani hidup yang produktif setiap harinya. 
  Untuk saat ini, kami akan memfokuskan program terhadap pasien yang membutuhkan penanganan segera, 
  serta dibatasi dengan dana sebesar 20 juta rupiah. 