p.
  Selain biaya pelayanan kesehatan di Rumah Sakit (meliputi jasa konsultasi dokter, alat diagnosis, 
  pemeriksaan lap), kami juga memperhitungkan biaya untuk transfer pasien ke pusat kesehatan rujukan, 
  makanan, akomodasi pasien, biaya kontrol berobat, serta pembiayaan premi JKN pasien.  