p.
  Tenaga Medis yang menjadi penghubung Wecare.id,memiliki kompetensi untuk menangani pasien dengan baik. Seperti yang sebelumnya disampaikan, Wecare.id memilih pasien yang memiliki kemungkinan sembuh yang tinggi. Namun tidak menutup kemungkinan bahwa pasien dapat meninggal setelah menerima perawatan. Apabila ini terjadi, kami akan melaporkan secara terbuka kepada donatur. 
