p.
  Kami sangat mengapresiasi program yang telah diselenggarakan oleh pemerintah dengan sangat baik. 
  Keberadaan kami di sini juga untuk mendukung program-program tersebut dengan sebelumnya mengamati 
  keterbatasan yang masih dimiliki oleh program tersebut. Di antaranya, kesulitan untuk memindahkan pasien 
  dari daerah perifer ke pelayanan kesehatan yang optimal karena keterbatasan biaya transportasi dan akomodasi. 
  Selain itu, walaupun penduduk miskin dikatakan tetap terjamin kepemilikan jaminan kesehatan nasional, 
  tetapi hingga saat ini, masih banyak penduduk yang membutuhkan pelayanan segera tetapi belum memiliki 
  jaminan kesehatan nasional. Oleh karena itu, kami ingin mereka tetap bisa mendapatkan pelayanan kesehatan dan 
  kami berharap dapat membantu mereka untuk mendapatkan haknya berupa jaminan kesehatan nasional tersebut. 