p.
  Kami tetap akan mengumpulkan dana tersebut hingga waktu yang ditentukan. Apabila hingga akhir waktu dana tetap tidak terkumpul dan tindakan medis harus dilakukan, kami akan menggunakan dana dari kas keuangan kami. Karena selain dari dari crowd funding, kami juga mencari dana dari sponsor serta rekanan lainnya. 
