p.
  100% donasi akan diserahkan kepada pasien yang bersangkutan. Untuk biaya operasional Wecare.id didapatkan dari sponsor, partner, serta donatur yang memilih untuk  memberikan sedikit tip untuk biaya operasional kami. 