p.
  Kami sangat memperhatikan privasi dari masing-masing pasien. 
  Sangat penting kami menjelaskan kepada pasien bagaimana cara wecare.id bekerja. 
  Kami juga akan mendokumentasikan informed consent pasien yang menyatakan bahwa mereka menyetujui 
  untuk berpartisipasi dalam program serta diceritakannya keadaan mereka dalam wadah kami.