p.
  Wecare. Id adalah sebuah wadah penggalangan dana dengan sistem crowdfunding 
  yang difokuskan pada warga Indonesia yang kurang mampu serta dalam keadaan 
  sakit untuk mendapatkan pelayanan kesehatan yang optimal sehingga mereka dapat 
  menjadi individu yang sehat dan produktif seutuhnya. 