p.
  Kami akan selalu mengkomunikasikan dengan tenaga medis yang menangani pasien. Pasien yang kami pilih telah diseleksi oleh tenaga medis yang kompeten yang diperkirakan memiliki angka kesembuhan yang tinggi. Apabila pasien yang didonasikan sedang menjalani terapi, kami akan terus mengupdate donatur mengenai keadaan mereka.