doctype html
html(lang="en")
  head
    - var pagetitle = "WeCare ID – FAQ"
    - var author = "CharityLights"
    include ./includes/head.jade
  body
    //Navbar
    include ./includes/navbar.jade
    //Login Modal
    include ./includes/login-modal.jade
    //Signup Modal
    include ./includes/signup-modal.jade
    //CONTENTS
    //Section Header
    .jumbotron.partner-header
      .blur-patient-bg
      .container.text-center
        .col-md-12
          .row: .col-md-12
            h1.partner-name(style="margin-top:1em;") FAQ
            h3.section-title Frequently Asked Question
    //Section Story
    .jumbotron: .container
      .col-md-4.col-sm-4
          ul
            li Topic 1
            li Topic 2
            li Topic 3
      .col-md-8.col-sm-8
        .panel
          .partner-detail
            include ./includes/patient-story-example.jade

    //Section Footer
    include ./includes/footer.jade