doctype html
html(lang="en")
  head
    - var pagetitle = "WeCare ID – FAQ"
    - var author = "CharityLights"
    include ./includes/head.jade
  body
    //Navbar
    include ./includes/navbar.jade
    //Login Modal
    include ./includes/login-modal.jade
    //Signup Modal
    include ./includes/signup-modal.jade
    //CONTENTS
    //Section Header
    .jumbotron.partner-header
      .blur-patient-bg
      .container.text-center
        .col-md-12
          .row: .col-md-12
            h1.partner-name(style="margin-top:1em;") FAQ
            h3.section-title Frequently Asked Question
    //Section Story
    .jumbotron: .container: .col-md-8.col-md-push-2
      //FAQ1
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ1" aria-expanded="false" aria-controls="FAQ1") Apa itu WeCare ID?
      .well.faq-well.collapse#FAQ1: .faq-info
        include ./includes/faq/faq-1.jade
      //FAQ2
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ2" aria-expanded="false" aria-controls="FAQ2") Bagaimana Kriteria dari Para Pasien yang Akan Didonasikan?
      .well.faq-well.collapse#FAQ2: .faq-info
        include ./includes/faq/faq-2.jade
      //FAQ3
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ3" aria-expanded="false" aria-controls="FAQ3") Apakah wecare.id akan menceritakan mengenai keadaan pasien yang dipilih? Bagaimana mengenai aspek privasi mereka, apakah dilanggar?
      .well.faq-well.collapse#FAQ3: .faq-info
        include ./includes/faq/faq-3.jade
      //FAQ4
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ4" aria-expanded="false" aria-controls="FAQ4") Khan sudah ada  Program Kartu Indonesia Sehat atau Jaminan Kesehatan Nasional oleh BPJS, untuk Apa Lagi Penggalangan Dana Dilakukan?
      .well.faq-well.collapse#FAQ4: .faq-info
        include ./includes/faq/faq-4.jade
      //FAQ5
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ5" aria-expanded="false" aria-controls="FAQ5") Apa saja aspek yang diperhitungkan sebagai biaya pengobatan pasien? 
      .well.faq-well.collapse#FAQ5: .faq-info
        include ./includes/faq/faq-5.jade
      //FAQ6
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ6" aria-expanded="false" aria-controls="FAQ6") Bagaimana cara donatur membantu pembiayaan JKN?
      .well.faq-well.collapse#FAQ6: .faq-info
        include ./includes/faq/faq-6.jade
      //FAQ7
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ7" aria-expanded="false" aria-controls="FAQ7") Bagaimana cara kami mengetahui bahwa pengobatan yang dijalankan oleh pasien berhasil? 
      .well.faq-well.collapse#FAQ7: .faq-info
        include ./includes/faq/faq-7.jade
      //FAQ8
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ8" aria-expanded="false" aria-controls="FAQ8") Bagaimana jika pasien meninggal?
      .well.faq-well.collapse#FAQ8: .faq-info
        include ./includes/faq/faq-8.jade
      //FAQ9
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ9" aria-expanded="false" aria-controls="FAQ9") Bagaimana jika dana yang ditargetkan tidak terkumpul?
      .well.faq-well.collapse#FAQ9: .faq-info
        include ./includes/faq/faq-9.jade
      //FAQ10
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ10" aria-expanded="false" aria-controls="FAQ10") Bagaimana jika dana belum terkumpul di saat pasien membutuhkan tindakan? 
      .well.faq-well.collapse#FAQ10: .faq-info
        include ./includes/faq/faq-10.jade
      //FAQ11
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ11" aria-expanded="false" aria-controls="FAQ11") Bagaimana jika ternyata dana yang dikumpulkan berlebih? 
      .well.faq-well.collapse#FAQ11: .faq-info
        include ./includes/faq/faq-11.jade
      //FAQ12
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ12" aria-expanded="false" aria-controls="FAQ12") Apakah 100% donasi akan diberikan kepada pasien ataukah akan dipotong oleh biaya operasional? 
      .well.faq-well.collapse#FAQ12: .faq-info
        include ./includes/faq/faq-12.jade
      //FAQ13
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ13" aria-expanded="false" aria-controls="FAQ13") Bagaimana cara memberi tips kepada Wecare.id? 
      .well.faq-well.collapse#FAQ13: .faq-info
        include ./includes/faq/faq-13.jade
      //FAQ14
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ14" aria-expanded="false" aria-controls="FAQ14") Apakah kami dapat melihat pembukuan dan finansial dari Wecare.id?
      .well.faq-well.collapse#FAQ14: .faq-info
        include ./includes/faq/faq-14.jade
      //FAQ15
      a.btn.accordion(role="button" data-toggle="collapse" href="#FAQ15" aria-expanded="false" aria-controls="FAQ15") Bagaimana cara agar menjadi penghubung wecare.id dengan pasien?
      .well.faq-well.collapse#FAQ15: .faq-info
        include ./includes/faq/faq-15.jade

    //Section Footer
    include ./includes/footer.jade