h3.section-title Apa itu Donatur?
p.
  Dengan menjadi donatur kita bisa berkontribusi untuk mengembalikan kualitas hidup standar para pasien dengan hanya menyumbang mulai Rp. 10.000,00
p
  | 100% donasi akan disumbangkan kepada pasien yang telah dipilih. Segala laporan transaksi yang dilakukan dapat diakses secara transparan melalui alamat 
  a.link(href="http://wecare.id/transparansi") wecare.id/transparansi