h3.section-title Apa itu Katalis?
p.
  Katalis adalah seseorang yang menjadi penghubung antara pasien dan WeCare ID

h3.section-title Bagaimana seorang Katalis bekerja?
p.
  KeKatalis adalah seseorang yang memiliki perhatian terhadap apa yang sedang terjadi di sekelilingnya. Mereka menyadari banyaknya masyarakat Indonesia yang memiliki keterbatasan dalam memperoleh pelayanan kesehatan yang optimal.
p.
  Mereka bisa saja seorang dokter, perawat, mahasiswa, keluarga, atau bahkan petugas kebersihan yang mengetahui keadaan individu lainnya yang sedang sakit dan membutuhkan pelayanan medis tertentu tetapi terhambat oleh biaya.
p.
  Katalis lah yang bertugas memasukkan data dari pasien tersebut ke dalam website WeCare ID – tentunya dengan persetujuan pasien terlebih dahulu.
p.
  Setelah Katalis memasukkan data pasien, tim medis kami akan menghubungi katalis dan melakukan verifikasi kebenaran data dan kondisi dari pasien. Tim medis kami pun juga akan melihat apakah keadaan pasien tersebut sesuai dengan kriteria kami, serta meminta persetujuan langsung dari pasien maupun keluarga pasien.

h3.section-title Bagaimana caranya menjadi seorang Katalis?
p.
  Seorang katalis dapat langsung memasukkan data pasien ke dalam formulir katalis berikut ini: