p.about-text.
  WeCare.ID percaya bahwa setiap individu di Indonesia memiliki hak yang sama atas pelayanan kesehatan yang diterima, sehingga mereka dapat berperan sebagai individu yang prima dan produktif. Namun, pada kenyataannya, tidak semua penduduk Indonesia memiliki akses terhadap pelayanan kesehatan yang baik karena wilayah yang sulit dijangkau, finansial yang terbatas, serta tidak dimilikinya Jaminan Kesehatan Nasional (JKN).

p.about-text.
  Wecare.ID adalah situs web yang dibangun khusus untuk mengumpulkan dana bagi pasien-pasien di daerah terpencil atau sangat terpencil yang membutuhkan akses terhadap pelayanan kesehatan yang optimal dan JKN. Kami bekerja sama dengan dokter-dokter di wilayah perifer untuk menghubungkan kami dengan para pasien tersebut sehingga mereka dapat memperoleh pengobatan dan fasilitas pendukung lainnya secara menyeluruh.

p.about-text.
  Melalui WeCare.ID para calon donatur dapat melihat daftar dan informasi para pasien, memilih pasien yang ingin dibantu, lalu memberi bantuan dengan menyumbang mulai dari sepuluh ribu rupiah. Seluruh transaksi yang dilakukan akan ditampilkan secara transparan di website kami.

p.about-text.
  WeCare.ID juga sangat mengapresiasi dan mendukung program Jaminan Kesehatan Nasional dari BPJS (Badan Penyelenggara jaminan Sosial) dan pemerintah yang mempermudah masyarakat untuk mendapat pelayanan kesehatan yang memadai. Namun hingga saat ini masih banyak masyarakat Indonesia di daerah terpencil/ sangat terpencil atau masyarakat kurang mampu yang belum memiliki JKN tersebut. Oleh karena itu, WeCare.ID memfasilitasi mereka untuk memproses kepemilikan JKN mereka serta membayarkan premi JKN pasien tidak mampu yang belum/tidak menjadi Penerima Bantuan Iuran (PBI).

p.about-text.
  Mari bergabung bersama kami untuk mewujudkan Indonesia yang sehat, merata!