h3.section-title Apa itu Medicator?
p.
  Medicator adalah para dokter yang saat ini bekerja di daerah perifer Indonesia.
  Berawal dari ide seorang penggagas WeCare ID yang pernah bertugas sebagai dokter di daerah terpencil dan merasakan sulitnya untuk memberi penanganan yang optimal terhadap pasien akibat keterbatasan akses sarana dan prasarana pelayanan kesehatan masyarakat.
  Walaupun pasien memiliki jaminan kesehatan nasional, mereka tetap terhalang untuk mendapatkan pelayanan yang mungkin hanya tersedia di rumah sakit rujukan yang lebih besar.

h3.section-title Bagaimana seorang Medicator bekerja?
p.
  Ketika medicator menemukan pasien potensial yang dapat dibantu melalui WeCare ID, mereka dapat segera melaporkan pasien tersebut, meraka memantau pasien-pasien dan melakukan verifikasi terhadap pasien-pasien yang diajukan oleh para katalis yang berada pada wilayah mereka.

h3.section-title Bagaimana caranya menjadi seorang Medikator?
p.
  Untuk sementara Medicator dipilih secara tertutup oleh tim WeCare ID. Mereka adalah dokter-dokter internship/PTT yang berada di daerah terpencil atau sangat terpencil.