nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse-1", aria-expanded="false")
        span.sr-only Toggle Navigation
        span Menu
      a.navbar-brand(href="#")
        img(alt="CharityLights", src="img/logo_wecareid@2x.png", style="display:inline-block;vertical-align:middle;height:48px;margin-bottom:15px;")
        span.cl-logo.hidden-md.hidden-sm.hidden-xs &nbsp;
          span(style="font-family:'blogger_sanslight_italic', Fallback, sans-serif;") We
          span(style="font-family:'blogger_sansmedium_italic', Fallback, sans-serif;") Care.ID
    //Nav links toggle
    .collapse.navbar-collapse#navbar-collapse-1
      ul.nav.navbar-nav.navbar-right
        //li: a(href="index.html") Home
        li: a(href="all_patients.html") Jumpa Pasien
        li: a(href="about_us.html") Tentang Kami
        li: a(href="#") Bantu Sekarang
        li: a(href="FAQ.html") FAQ
        li: a(href="#", data-toggle="modal" data-target=".loginmodal") Masuk
        li: a(href="#", data-toggle="modal" data-target=".signupmodal") Daftar